/****  Global Rules ****/

* {
  text-transform: capitalize;
}

body {
  padding:0;
  margin: 0;
}

.text-center {
  text-align:center !important;
}

.container {
  width: 80%;
  margin:0 auto;
}

.row {
  display:flex;
}

.col-3 {
  width: 25% !important;
}

h3, div, p, h3 {
  font-family: '../fonsts/times-new-roman';
}

h3 {
  text-transform: capitalize;
}

@font-face {
  font-family: 'times-new-roman';
  src: url('./Times\ New\ Roman\ 400.ttf');
}


/*** start styles for section ***/

.title {
  height: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#F7F7F7;
}

.ads {
  font-weight: 900;
  letter-spacing: 1px;
  background-color: #071A5C;
  padding:2.3em 0;
  font-size: 35px;
  color: #fff;
}

.navbar  {
  background-color: #296AB8;
  margin:0;
  padding:8px;
  list-style: none;
}

.navbar .row {
  width:60%;
  margin: auto;
  flex-wrap: wrap;
  align-content: space-between;
}
.navbar  li {
  padding: 8px 19px;
  margin: 6px 10px;
  background-color: #fff;
  border-radius: 23px;
  width: 30%;
}

/*** start product section ***/

.products .container > .row {
  flex-wrap: wrap;
}
.products .item {
  transform: scalex(.93);

}

.products .item > .row {
  margin-top: 20px;
}

.products .item .row > div {
  width:50%;
}

.products .price {
  font-weight: normal;
}

/* .products .item .row .left {

} */

.products .item .row .left {
  font-size: 18px;
}



.products .item .row .left img {
  width:70px;
}

.products .item .row .left span {
  font-size: 20px;
  font-weight: 600;
}

/* .products .item .row .right {
  
} */

.products img {
  border:2px solid #296AB8;
  border-radius: 25px;
}

/** start order section style **/

.orders h3, .contacts h3 {
  background-color: #296AB8;
  color: #071A5C;
  padding: 14px 0;
  font-size: 25px;
}

.orders .head .col-3{
  font-weight: 600;
  font-size : 17px;
}

.orders .body .row {
  margin-top: 3px;
}

.orders button {
  background-color: #276AB8;
  border: 0;
  border-radius: 16px;
  padding: 7px 25px;
}

.orders ul {
  margin: 0;
  padding:0;
  list-style: none;
}

.orders ul li {
  margin-top: 4px;
}

.orders .total-price {
  font-weight: 600;
  font-size: 25px;
}

.contacts > .container {
  height: 290px;
}


.orders .total, .invoice {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.invoice-section {
  
}

.contacts form {
  width:40%;
  margin: 50px auto;
  padding: 35px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.1);
  border-radius: 5px;
}
 


@media(max-width: 767px) {

  .contacts form {
      width: 100%;
  }

  .navbar .row {
      width: 100%;
  }

  .navbar .container {
      width: 100%;
  }

  .navbar .container li {
      font-size: 14px;
      margin: 6px 5px;
  }
}

.contacts form input {
  display:block;
  border-radius: 25px;
  width: 100%;
  border: 1px solid #071A5C;
  padding: 10px 13px;
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  margin-top: 9px;
  font-size:16px;
}

.contacts form input[type="button"] {
  background-color: #071A5C;
  color: #fff
}



/**** media Query ****/