@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
}
.container{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
    cursor: pointer;
    margin: 5px 0;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: #061b5d;
}nav ul li a:hover{
    color: #216db8;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 0 5px;
}
.btn-group{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-group button {
    border: 0; 
    padding: 18px 0;
    cursor: pointer;
    display: inline-block; 
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
}
.btn-group a{
    color: #fff;
    display: block;
}
.btn-group button:not(:last-child) {
    border-bottom: none; 
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #061b5d;
    color: #fff;
}
.fas{
    padding-bottom: 5px;
}
.btn1{
    background-color: #216db8;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    color: #fff;
    width: 18%;
    border-radius: 25px; 
    border-style: none;
}
.btn2{
    background-color: #91b120;
    width: 18%;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    color: #fff;
    border-radius: 25px; 
    border-style: none;
}
.btn3{
    background-color: #fd1b1b;
    width: 18%;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    color: #fff;
    border-radius: 25px; 
    border-style: none;
}
.btn4{
    background-color: gold;
    width: 18%;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    color: #fff;
    border-radius: 25px; 
    border-style: none;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #061b5d;
}
.footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
}
.logo1{
    height: 40px;
}
span {
    display: block;
  }

  /** Tables style**/ 

  table {
      text-align: center;
  }
  tr td form {
      display: inline-block;
  }

  tr td a  {
      margin-right: 15px;
  }